@page "/admin"
@using Organizer.Shared.Views
@inject HttpClient Http

<PageTitle>Admin Panel</PageTitle>
<h1 class="page-header">Admin Panel</h1>

<form onsubmit="event.preventDefault(); CreatePrinter()">
    <input type="text" placeholder="Printer Name" @bind="newPrinter.Name" />
    <input type="text" placeholder="Printer Type" @bind="newPrinter.PrinterType" />
    <button type="submit" @onclick="CreatePrinter">Create Printer</button>
</form>

@code {
    private NewPrinter newPrinter = new NewPrinter();
    private async Task CreatePrinter()
    {
        var response = await Http.PutAsJsonAsync("api/Printer", newPrinter);
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Printer created successfully");
            newPrinter.Name = string.Empty;
            newPrinter.PrinterType = string.Empty;
        }
        else
        {
            Console.WriteLine("Failed to create printer");
        }
        newPrinter = new NewPrinter();
    }
}
