@page "/"
@using Organizer.Shared.Models
@inject HttpClient Http

<PageTitle>Dashboard</PageTitle>
<h1 class="page-header">Printer Status</h1>

<div class="page-content">
    <h3>Open Printers: @available</h3>
</div>


@code {
    private int available = 0;

    protected override async Task OnInitializedAsync()
    {
        var printers = await Http.GetFromJsonAsync<List<Printer>>("api/printer");
        available = printers.Count;
    }
}
