@page "/"
@using _3DPC_Server.Shared
@inject HttpClient Http


<PageTitle>Index</PageTitle>

<h1>Printer Status</h1>

@if(printer_list is null) {
    <p>Loading...</p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>Printer</th>
                <th>Current Print</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var printer in printer_list)
            {
                <tr>
                    @* TODO: insert printer image here, as well as any other information we want to include with it *@
                    <td>@printer.Name</td>
                    <td>@printer.Print</td>
                    <td>@printer.Status</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private Printer[]? printer_list;
    protected override async Task OnInitializedAsync()
    {
        printer_list = await Http.GetFromJsonAsync<Printer[]>("Printer");
    }
}
