@page "/submissions"
@using Organizer.Shared.Models
@inject HttpClient Http

<h1 class="page-header">New Submissions</h1>

<div class="page-content">
    @if(submissions is null) {
        <p>Loading...</p>
    } else {
        @foreach (var submission in submissions)
        {
            <div>
                <span>@submission.status</span>
                <span>@submission.notes</span>
                <span>@submission.id</span>
            </div>
        }
    }
</div>


@code {
    private List<Job> submissions;

    protected override async Task OnInitializedAsync()
    {
        submissions = await Http.GetFromJsonAsync<List<Job>>("api/submissions");
    }
}
