@page "/new-submission"
@using Organizer.Shared.Models
@inject HttpClient Http

<div class="page-header">
    <h1>New Submission</h1>
</div>

<div class="page-content">
    <form>
        <div class="form-group">
            <label for="first-name">First Name:</label>
            <input type="text" id="first-name" name="first-name" placeholder="First Name" />
            <label for="last-name">Last Name:</label>
            <input type="text" id="last-name" name="last-name" placeholder="Last Name" />
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Email" />
        </div>

        <div class="form-group">
            <label for="supervisor-name">Supervisor Name:</label>
            <input type="text" id="supervisor-name" name="supervisor-name" placeholder="Supervisor Name" />
        </div>

        <div class="form-group">
            <input type="radio" id="FDM" name="print-type" />
            <label for="FDM">FDM</label>

            <input type="radio" id="Markforged FDM" name="print-type" />
            <label for="Markforged FDM">Markforged FDM</label>

            <input type="radio" id="SLA" name="print-type" />
            <label for="SLA">SLA</label>

            <input type="radio" id="SLS" name="print-type" />
            <label for="SLS">SLS</label>
        </div>

        <div class="form-group">
            <label for="dimensions">Dimensions:</label>
            <input type="text" id="dimensions" name="dimensions" placeholder="Dimensions" />
        </div>

        <div class="form-group">
            <label for="filenames">Filenames:</label>
            <input type="text" id="filenames" name="filenames" placeholder="Filenames" />
        </div>

        <div class="form-group">
            <label for="notes">Notes:</label>
            <input type="text" id="notes" name="notes" placeholder="Notes" />
        </div>
        @* form fields
        first name
        last name
        purdue email
        supervisor name
        FDM or SLA
        > if SLA, confirmation
        What are the rough dimensions (L x W x H) of your print? (ex: part 1 = 1 mm cube, part 2 = 2 mm x 3 mm x 4 mm)
        What are the EXACT name(s) of your part(s)?
        Upload your part(s) in .STL format in mm, no other formats accepted! *
        This part will be (check all that apply) academic, research, personal, functional, decorative
        Please give us details about how you want your part printed. Include infill, shells, supports, etc. If the
        supervisor has any notes, please write them here.
        *@
        <div class="form-group">
            <InputFile OnChange="LoadFiles" multiple />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>


@code {

    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            const int maxFileSize = 1024 * 1024 * 70; // 70 MB
            using var content = new MultipartFormDataContent();
            using var stream = file.OpenReadStream(maxAllowedSize: maxFileSize);

            var fileContent = new StreamContent(stream);
            fileContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(file.ContentType);
            content.Add(fileContent, "file", file.Name); // replace filename with DateTime.Now() +

            var httpClient = new HttpClient();
            var response = await httpClient.PostAsync("api/File", content);

            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine("File uploaded successfully.");
                Console.WriteLine(await response.Content.ReadAsStringAsync());
            }
            else
            {
                Console.WriteLine("File upload failed.");
            }
        }
    }
}
