@page "/submissions"
@using Organizer.Shared.Models
@inject HttpClient Http

<div class="page-header">
    <h1>Pending Submissions</h1>
    <button>New Submission</button>
</div>

<div class="page-content">
    @if(submissions is null) {
        <p>Loading...</p>
    } else {
        @foreach (var submission in submissions)
        {
            <div>
                <span>@submission.notes</span>
                <span>@submission.id</span>
            </div>
        }
    }
</div>


@code {
    private List<Job> submissions;
}
