@page "/new-submission"
@using Organizer.Shared.Models
@inject HttpClient Http

<div class="page-header">
    <h1>New Submission</h1>
</div>

<div class="page-content">
    <InputFile OnChange="LoadFiles" multiple />
</div>


@code {

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        return;
    }
}
