@page "/printers"
@using Organizer.Client.Components
@using Organizer.Shared.Enums
@using Organizer.Shared.Models
@using Organizer.Shared.Views
@inject HttpClient Http

<PageTitle>Printer Dashboard</PageTitle>
<h1 class="page-header">Printers</h1>

<div class="page-content">
    @if (printer_list == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var printer in printer_list.Select((value, index) => new { Value = value, Index = index }))
        {
            <PrinterDetailCard printer="@printer.Value"/>
        }
    }
</div>


@code {
    private PrinterDetail[]? printer_list;

    protected override async Task OnInitializedAsync()
    {
        printer_list = await Http.GetFromJsonAsync<PrinterDetail[]>("api/Printer");
        if (printer_list is null)
        {
            printer_list = new PrinterDetail[0];
        }
    }
}
