<div class="ps-3 navbar navbar-light">
    <a class="main-logo" href="">
        <img src="img/3dpc_logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
        <span class="navbar-brand">Purdue 3D Printing Club</span>
    </a>
</div>