<div class="navbar main-header">
    <a class="main-logo" href="">
        <img src="img/3dpc_logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
        <span>Purdue 3D Printing Club</span>
    </a>
</div>