@inherits LayoutComponentBase

<div class="background">
    <div class="main-header">
        <MainHeader />
    </div>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>
