<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="Vector" d="M21.7678 1.2899C20.7915 0.313603 19.2086 0.313603 18.2323 1.2899L0.732226 18.7899C-0.244075 19.7663 -0.244075 21.3492 0.732226 22.3255C1.70855 23.3017 3.29145 23.3017 4.26778 22.3255L5.00001 21.5932V38.0577C5.00001 39.4385 6.11931 40.5577 7.50001 40.5577H12.5C13.8807 40.5577 15 39.4385 15 38.0577V33.0577C15 31.677 16.1193 30.5577 17.5 30.5577H22.5C23.8808 30.5577 25 31.677 25 33.0577V38.0577C25 39.4385 26.1193 40.5577 27.5 40.5577H32.5C33.8808 40.5577 35.0001 39.4385 35.0001 38.0577V21.5932L35.7323 22.3255C36.7086 23.3017 38.2916 23.3017 39.2678 22.3255C40.2441 21.3492 40.2441 19.7663 39.2678 18.7899L21.7678 1.2899Z" fill="black"/>
                </svg>
                <span>Home</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="printers">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M17.2262 0H32.8065V9.27385H37C37.5523 9.27385 38 9.72157 38 10.2739V17.5477C38 18.0999 37.5523 18.5477 37 18.5477H33.5834L28.4432 27.8215H21.5897L16.4495 18.5477H13.0328C12.4805 18.5477 12.0328 18.0999 12.0328 17.5477V10.2739C12.0328 9.72157 12.4805 9.27385 13.0328 9.27385H17.2262V0ZM2 35.5C2 34.1193 3.11929 33 4.5 33H20C20 31.3431 21.3431 30 23 30H26C27.6569 30 29 31.3431 29 33V35C29 36.6569 27.6569 38 26 38H25.5H23H4.5C3.11929 38 2 36.8807 2 35.5Z" fill="black"/>
                </svg>
                <span>Printers</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="submissions">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6 6V11.6H34V6H6ZM6 34V17.2H23.36V19.0667H21.8C21.2477 19.0667 20.8 19.5144 20.8 20.0667V21.5333C20.8 22.0856 21.2477 22.5333 21.8 22.5333H22.9771L25.5109 26H28.8892L31.4229 22.5333H32.6C33.1523 22.5333 33.6 22.0856 33.6 21.5333V20.0667C33.6 19.5144 33.1523 19.0667 32.6 19.0667H31.04V17.2H34V34H23.2V33.6H31.6C32.7046 33.6 33.6 32.7046 33.6 31.6V30.8C33.6 29.6954 32.7046 28.8 31.6 28.8H8.40002C7.29545 28.8 6.40002 29.6954 6.40002 30.8V31.6C6.40002 32.7046 7.29545 33.6 8.40002 33.6H17.6V34H6ZM5 0C2.23858 0 0 2.23858 0 5V35C0 37.7614 2.23858 40 5 40H35C37.7614 40 40 37.7614 40 35V5C40 2.23858 37.7614 0 35 0H5Z" fill="black"/>
                </svg>
                <span>Submissions</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="admin">
                <svg width="42" height="40" viewBox="0 0 42 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M7.65401 2.33841C9.03472 2.33841 10.154 3.4577 10.154 4.83841V16.4829C10.154 17.8636 9.03472 18.9829 7.65401 18.9829C6.2733 18.9829 5.15401 17.8636 5.15401 16.4829V4.83841C5.15401 3.4577 6.2733 2.33841 7.65401 2.33841ZM10.154 25.6369H12.6445C14.0252 25.6369 15.1445 24.5176 15.1445 23.1369C15.1445 21.7562 14.0252 20.6369 12.6445 20.6369H7.65401H2.66351C1.2828 20.6369 0.163513 21.7562 0.163513 23.1369C0.163513 24.5176 1.2828 25.6369 2.66351 25.6369H5.15401V34.7814C5.15401 36.1621 6.2733 37.2814 7.65401 37.2814C9.03472 37.2814 10.154 36.1621 10.154 34.7814V25.6369ZM23.462 19.8099C23.462 18.4292 22.3427 17.3099 20.962 17.3099C19.5813 17.3099 18.462 18.4292 18.462 19.8099V34.7814C18.462 36.1621 19.5813 37.2814 20.962 37.2814C22.3427 37.2814 23.462 36.1621 23.462 34.7814V19.8099ZM20.962 2.33841C22.3427 2.33841 23.462 3.4577 23.462 4.83841V10.6559H25.9525C27.3332 10.6559 28.4525 11.7752 28.4525 13.1559C28.4525 14.5366 27.3332 15.6559 25.9525 15.6559H20.962H15.9715C14.5908 15.6559 13.4715 14.5366 13.4715 13.1559C13.4715 11.7752 14.5908 10.6559 15.9715 10.6559H18.462V4.83841C18.462 3.4577 19.5813 2.33841 20.962 2.33841ZM34.27 23.9639H39.2605C40.6412 23.9639 41.7605 25.0832 41.7605 26.4639C41.7605 27.8446 40.6412 28.9639 39.2605 28.9639H36.77V34.7814C36.77 36.1621 35.6507 37.2814 34.27 37.2814C32.8893 37.2814 31.77 36.1621 31.77 34.7814V28.9639H29.2795C27.8988 28.9639 26.7795 27.8446 26.7795 26.4639C26.7795 25.0832 27.8988 23.9639 29.2795 23.9639H34.27ZM34.27 2.33841C35.6507 2.33841 36.77 3.4577 36.77 4.83841V19.8099C36.77 21.1906 35.6507 22.3099 34.27 22.3099C32.8893 22.3099 31.77 21.1906 31.77 19.8099V4.83841C31.77 3.4577 32.8893 2.33841 34.27 2.33841Z" fill="black"/>
                </svg>
                <span>Admin Panel</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
